@using Core.Application.Website.Models

@model IEnumerable<Core.Application.Website.Models.FomatTypeConfigurationModel>

<div class="modal-header">
    <h5 class="modal-title" id="modal-user-create-title">@ViewBag.TitleModal</h5>
</div>
<div class="modal-body" id="modal-user-create-body" style="overflow-y: auto;">
    <form id="formformarextension">

        @Html.AntiForgeryToken()
        <input type="hidden" id="hdfFormatId" value="@ViewBag.FormatId" />

        <div class="form-horizontal">
            <div class="row">
                <table id="tbDetail" class="table table-striped table-bordered nowrap dataTable no-footer">
                    <thead>
                        <tr>
                            <th style="width: 200px; color: #0057b1;">Extensión</th>
                            <th style="width: 200px; color: #0057b1;"># de la fila donde comienza</th>
                            <th style="width: 200px; color: #0057b1;">Columna donde comienza</th>
                            <th style="width:20px;"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-left" style="font-size:24px;"><a href="javascript:void(0)" id="btnAddRecord" data-tippy-content="Agregar Renglón"><i class="fa fa-plus-circle"></i></a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="d-none">
                <input type="submit" value="Guardar" class="btn btn-primary" id="btn-create-formatline" data-tippy-content="Pulse para Guardar." />
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" onclick="hideModalPartial();" data-tippy-content="Pulse para Cancelar.">Cancelar</button>
    <button type="button" class="btn btn-primary" onclick="FomatTypeConfiguration.SaveFormatLine();" data-tippy-content="Pulse para Guardar.">Guardar</button>
</div>

<script>
    var formatLineList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    var captureUnitList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ExtensionsFormatList));
    FomatTypeConfiguration.InitForm(formatLineList, captureUnitList);
    CreateAllTooltips();
    setNumericInput();
    setSelect2();
</script>