@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "Generar certificado";
    ViewBag.SubTitle = "Generación y descarga de la certificación de inscripción de la cooperativa";
}

<link href="~/css/core/mvc-grid/mvc-grid.css" rel="stylesheet" />
<link href="~/css/jquery.json-viewer.css" rel="stylesheet" />


<script type="text/javascript">
    showLoading();
</script>


<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@string.Concat(ViewBag.CooperativeName)</h1>
    </div>
</div>

<div class="col-md-12 col-xl-12 col-sm-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <div class="col-12">
                <div class="form-inline">
                    <h4 class="card-title ">
                        @ViewBag.Title
                    </h4>
                </div>
                <p class="card-category">
                    @ViewBag.SubTitle
                </p>
            </div>
            <form id="formCertificate">
                <input type="hidden" id="EntityCode" name="EntityCode" value="@ViewBag.EntityCode" />
                <input type="hidden" id="EntityType" name="EntityType" value="@ViewBag.EntityType" />
            </form>
        </div>
        <div class="card-body">
            <div class="text-center">
                Por favor de clic en el botón "Generar certificado"
                <br />
                <br />
                <button onclick="CertificateRequest.GenerateCertificate()" class="btn btn-success" data-tippy-content="Pulse para generar el certificado.">
                    <i class='fa fa-file-pdf fa-lg'></i>
                    <span>Generar certificado</span>
                </button>
                <br />
                <br />
            </div>


            <br />
            <br />
            <div class="text-center" id="response-div">
               
            </div>


        </div>

    </div>
</div>

<script src="~/js/core/MvcGrid/mvc-grid.js"></script>
<script src="~/js/core/Petitions/Petitions.js"></script>
<script src="~/js/jquery.unobtrusive-ajax.js"></script>
<script src="~/js/core/CertificateRequest/CertificateRequest.js" asp-append-version="true"></script>


@section Scripts{

    <script>
        $(function () {
            hideLoading();
            $('#nav-generate-certificate').addClass('active');
        });
    </script>
}