@using Core.Application.Website.Models

@model Core.Application.Website.Models.GraphicModel

<style>
    .modal-dialog-centered {
        top: 12% !important;
    }
</style>
<div class="modal-header">
    <h5 class="modal-title" id="modal-user-create-title">@ViewBag.TitlePage</h5>
</div>
<div class="modal-body" style="overflow-y: auto;">
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.GraphicGroupId, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-sm-12">
                    @Model.GraphicGroup.Name
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.GraphicSubGroupId, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-sm-12">
                    @(Model.GraphicSubGroup != null ? Model.GraphicSubGroup.Name : "")
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-sm-12">
                    @Model.Title
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.SubTitle, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-sm-12">
                    @Model.SubTitle
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.AxisTitleY, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-sm-12">
                    @Model.AxisTitleY
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.AxisTitleY1, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-sm-12">
                    @Model.AxisTitleY1
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.AxisTitleX, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-sm-12">
                    @Model.AxisTitleX
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.TypeGraphic, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-sm-12">
                    @Model.TypeGraphic
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.PositionLegends, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-sm-12">
                    @(Model.PositionLegends == "bottom" ? "Abajo" : Model.PositionLegends == "top" ? "Arriba" : Model.PositionLegends == "left" ? "Izquierda" : Model.PositionLegends == "right" ? "Derecha" : "")
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.GraphicPermissions, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-sm-12">
                    @Model.GraphicPermissions
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.IndicatorsNames, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-sm-12">
                    @Model.IndicatorsNames
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-12 col-sm-12 col-xs-12" })
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @(Model.Order)
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.LabelFor(model => model.EntityTypeName, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-12 col-sm-12 col-xs-12" })
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @(Model.EntityTypeName)
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.LabelFor(model => model.IsDownloadable, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-12 col-sm-12 col-xs-12" })
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @(Model.IsDownloadable ? "SI" : "NO")
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.LabelFor(model => model.ShowIndicator, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-12 col-sm-12 col-xs-12" })
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @(Model.ShowIndicator ? "SI" : "NO")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-12">
                @Html.LabelFor(model => model.UseAccount, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-12 col-sm-12 col-xs-12" })
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @(Model.UseAccount ? "SI" : "NO")
                </div>
            </div>
            <div class="col-md-6 col-sm-4 col-xs-12">
                @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-12 col-sm-12 col-xs-12" })
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @(Model.IsEnabled ? "SI" : "NO")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.SQLSentence, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.TextAreaFor(model => model.SQLSentence, htmlAttributes: new { @class = "form-control required", rows = "6", @style = "width: 100%; resize:none;", @disabled = true })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.SQLSentenceSupplementary, htmlAttributes: new { @class = "col-form-label font-weight-bold" })
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.TextAreaFor(model => model.SQLSentenceSupplementary, htmlAttributes: new { @class = "form-control required", rows = "6", @style = "width: 100%; resize:none;", @disabled = true })
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" onclick="hideModalPartial();" data-tippy-content="Pulse para Cancelar.">Cerrar</button>
</div>