@using Ferreteria.Application.Website.Models

@model Ferreteria.Application.Website.Models.SupplierModel
<!-- Modal -->

<div class="modal-header">
    <h5 class="modal-title" id="modal-user-create-title">@ViewBag.TitleModal</h5>
</div>
<div class="modal-body" id="modal-user-create-body" style="overflow-y: auto;">
    <form asp-action="CreateOrUpdate" asp-controller="LoadType" data-ajax="true" data-ajax-method="POST" id="formSuppliercrud">

        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.SupplierId)

        <div class="form-horizontal">
			<div class="row">

				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
					<div class="col-md-12 col-sm-12 col-xs-12">
						@Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-12 col-xs-12 required", placeholder = "Digite el nombre del Proveedor", @maxlength = 50 })
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
					<div class="col-md-12 col-sm-12 col-xs-12">
						@Html.TextBoxFor(model => model.Contact, new { @class = "form-control col-md-12 col-xs-12 required inputPositiveInput", placeholder = "Digite el teléfono del Proveedor", @maxlength = 50 })
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
					<div class="col-md-12 col-sm-12 col-xs-12">
						@Html.TextBoxFor(model => model.Address, new { @class = "form-control col-md-12 col-xs-12 required", placeholder = "Digite la dirección del Proveedor", @maxlength = 50 })
					</div>
				</div>
			</div>
        </div>

        <div class="form-group">
            <div class="d-none">
                <input type="submit" value="Guardar" class="btn btn-primary" id="btn-create-format" data-tippy-content="Pulse para Guardar." />
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" onclick="hideModalPartial();" data-tippy-content="Pulse para Cancelar.">Cancelar</button>
    <button type="button" class="btn btn-primary" onclick="Supplier.Save();" data-tippy-content="Pulse para Guardar.">Guardar</button>
</div>