@model Core.Application.Website.Models.Monitoreo.RangosValoresModel
<!-- Modal -->

<div class="modal-header">
    <h5 class="modal-title" id="modal-user-create-title">@ViewBag.TitleModal</h5>
</div>
<div class="modal-body" id="modal-user-create-body" style="overflow-y: auto;">
    <form asp-action="CreateOrUpdate" asp-controller="Format" data-ajax="true" data-ajax-method="POST" id="formatrangosvalores">

        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.TipoRango, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.DropDownListFor(model => model.TipoRango, (IEnumerable<SelectListItem>)ViewBag.TiposRangos,"Seleccione", new { @class = "form-control col-md-12 col-xs-12 required", placeholder = "Seleccione el Tipo Rango", @maxlength = 500, onchange = "RangosValores.LoadLastRangoDesde(this.value)" })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.RangoDesde, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(model => model.RangoDesde, new { @class = "form-control col-md-12 col-xs-12 inputPositiveInput2d required", placeholder = "Digite el Rango Desde", @maxlength = 100 })
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.RangoHasta, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(model => model.RangoHasta, new { @class = "form-control col-md-12 col-xs-12 inputPositiveInput2d required", @style = "width:100%;", placeholder = "Digite el Rango Hasta", @maxlength = 100 })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="d-none">
                <input type="submit" value="Guardar" class="btn btn-primary" id="btn-create-format" data-tippy-content="Pulse para Guardar." />
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" onclick="hideModalPartial();" data-tippy-content="Pulse para Cancelar.">Cancelar</button>
    <button type="button" class="btn btn-primary" onclick="RangosValores.Save();" data-tippy-content="Pulse para Guardar.">Guardar</button>
</div>