@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "Tipos de Carga";
    ViewBag.SubTitle = "Administración de los tipos de carga.";
}

<link href="~/css/core/mvc-grid/mvc-grid.css" rel="stylesheet" />
<link href="~/css/jquery.json-viewer.css" rel="stylesheet" />


<script type="text/javascript">
    showLoading();
</script>

<div class="col-md-12 col-xl-12 col-sm-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <div class="col-12">
                <div class="form-inline">
                    <h4 class="card-title ">
                        @ViewBag.Title
                    </h4>
                    <a href="#" onclick="LoadType.OpenCreate('@Url.Action("Create")');">
                        <i class="fa fa-plus-circle addrecord" data-tippy-content="Nuevo formato." tabindex="0"></i>
                    </a>
                    <a href="#" onclick="LoadType.ExportLoadTypes('@Url.Action("ExportLoadTypes")');">
                        <i class="fa fa-download addrecord" data-tippy-content="Exportar Tipos de Carga." tabindex="0"></i>
                    </a>
                </div>
                <p class="card-category">
                    @ViewBag.SubTitle
                </p>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @Html.AjaxGrid(Url.Action("IndexGrid"))
            </div>
        </div>
    </div>
</div>

<script src="~/js/core/MvcGrid/mvc-grid.js"></script>
<script src="~/js/core/Petitions/Petitions.js"></script>
<script src="~/js/core/LoadType/LoadType.js" asp-append-version="true"></script>
<script src="~/js/jquery.unobtrusive-ajax.js"></script>


@section Scripts{


    <script type="text/javascript">

        $(function () {
            $('#parametrizacionNav').addClass('active');
            $('#parametrizacion').addClass('show');
            $('#nav-loadType').addClass('active');
        });        

        document.addEventListener('reloadend', function (e) {
            CreateAllTooltips();
            addKeyboardEvents();
            hideLoading();
        });

        [].forEach.call(document.getElementsByClassName('mvc-grid'),
            function (element) {
                new MvcGrid(element);
            });    

    </script>
}