@model Core.Application.Website.Models.Recaudo.PsdControlFechaModel
<!-- Modal -->

<div class="modal-header">
    <h5 class="modal-title" id="modal-user-create-title">@ViewBag.TitleModal</h5>
</div>
<div class="modal-body" id="modal-user-create-body" style="overflow-y: auto;">
    <form asp-action="CreateOrUpdate" asp-controller="Format" data-ajax="true" data-ajax-method="POST" id="formentity">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IsNew)
        <div class="form-horizontal">
            
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.FechaCorte, htmlAttributes: new { @class = "col-form-label col-md-12 col-xs-12" })
                    <div class="col-md-12 col-xs-12 input-group dp-date">
                        @{
                            string fechaCorte = (Model.FechaCorte.Year != 1 ? Model.FechaCorte.ToString("dd/MM/yyyy") : "");
                        }
                        <input type="hidden" value="@fechaCorte" id="hdf_FechaCorte" />
                        @Html.TextBoxFor(model => model.FechaCorte, new { @class = "form-control col-md-12 col-xs-12 required"})
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.NumeroMeses, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.DropDownListFor(model => model.NumeroMeses, (IEnumerable<SelectListItem>)ViewBag.NumberMonths, "Seleccione", htmlAttributes: new { @class = "form-control required", @style = "width:100%;" })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "col-form-label col-md-12 col-xs-12" })
                    <div class="col-md-12 col-xs-12 input-group dp-date">
                        @{
                            string fechaInicio = (Model.FechaInicio.Year != 1 ? Model.FechaInicio.ToString("dd/MM/yyyy") : "");
                        }
                        <input type="hidden" value="@fechaInicio" id="hdf_FechaInicio" />
                        @Html.TextBoxFor(model => model.FechaInicio, new { @class = "form-control col-md-12 col-xs-12 required" , @readonly = "readonly"})
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.FechaFinal, htmlAttributes: new { @class = "col-form-label col-md-12 col-xs-12" })
                    <div class="col-md-12 col-xs-12 input-group dp-date">
                        @{
                            string fechaFinal = (Model.FechaFinal.Year != 1 ? Model.FechaFinal.ToString("dd/MM/yyyy") : "");
                        }
                        <input type="hidden" value="@fechaFinal" id="hdf_FechaFinal" />
                        @Html.TextBoxFor(model => model.FechaFinal, new { @class = "form-control col-md-12 col-xs-12 required" , @readonly = "readonly"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.FechaMaxPago, htmlAttributes: new { @class = "col-form-label col-md-12 col-xs-12" })
                    <div class="col-md-12 col-xs-12 input-group dp-date">
                        @{
                            string fechaMaxPago = (Model.FechaMaxPago.Year != 1 ? Model.FechaMaxPago.ToString("dd/MM/yyyy") : "");
                        }
                        <input type="hidden" value="@fechaMaxPago" id="hdf_FechaMaxPago" />
                        @Html.TextBoxFor(model => model.FechaMaxPago, new { @class = "form-control col-md-12 col-xs-12 required"})
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.NumeroDias, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(model => model.NumeroDias, new { @class = "form-control col-md-12 col-xs-12 inputPositiveInput required" , @readonly = "readonly", @maxlength = 2})
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="d-none">
                <input type="submit" value="Guardar" class="btn btn-primary" id="btn-create-format" data-tippy-content="Pulse para Guardar." />
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" onclick="hideModalPartial();" data-tippy-content="Pulse para Cancelar.">Cancelar</button>
    <button type="button" class="btn btn-primary" onclick="PsdControlFecha.Save();" data-tippy-content="Pulse para Guardar." id="btnSave">Guardar</button>
</div>
<script>
    PsdControlFecha.InitControls();
</script>