@model Core.Application.Website.Models.Recaudo.EntidadModel
<!-- Modal -->

<div class="modal-header">
    <h5 class="modal-title" id="modal-user-create-title">@ViewBag.TitleModal</h5>
</div>
<div class="modal-body" id="modal-user-create-body" style="overflow-y: auto;">
    <form asp-action="CreateOrUpdate" asp-controller="Format" data-ajax="true" data-ajax-method="POST" id="formEntidadcrud">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IsNew)
        @Html.HiddenFor(model => model.PreviousTipoEntidad)
        @Html.HiddenFor(model => model.PreviousCodigoEntidad)
        <div class="form-horizontal">

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.TipoEntidad, htmlAttributes: new { @class = "col-form-label col-md-12 col-xs-12" })
                    <div class="col-md-12 col-xs-12 input-group dp-date">
                        @Html.DropDownListFor(model => model.TipoEntidad, (IEnumerable<SelectListItem>)ViewBag.TipoEntidadList, "Seleccione", new { @class = "form-control col-md-12 col-xs-12 required" })
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.CodigoEntidad, htmlAttributes: new { @class = "col-form-label col-md-12 col-xs-12" })
                    <div class="col-md-12 col-xs-12 input-group dp-date">
                        @Html.TextBoxFor(model => model.CodigoEntidad, new { @class = "form-control col-md-12 col-xs-12 inputPositiveInput2d required", placeholder = "Digite el Código de Entidad", @maxlength = 5 })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.NumeroIdentificacion, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12", @minlength = 7, @maxlength = 15 })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(model => model.NumeroIdentificacion, new { @class = "form-control col-md-12 col-xs-12 inputPositiveInput2d required", placeholder = "Digite el Número de Identificación", @maxlength = 15 })
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.DigitoChequeo, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(model => model.DigitoChequeo, new { @class = "form-control col-md-12 col-xs-12 inputPositiveInput2d required", placeholder = "Digite el Digito de Chequeo", @maxlength = 1 })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.Grupo, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.DropDownListFor(model => model.Grupo, (IEnumerable<SelectListItem>)ViewBag.GrupoList, "Seleccione", new { @class = "form-control col-md-12 col-xs-12 required select2", @style = "width:100%;" })
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.TipoEstado, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.DropDownListFor(model => model.TipoEstado, (IEnumerable<SelectListItem>)ViewBag.TipoEstadoList, "Seleccione", new { @class = "form-control col-md-12 col-xs-12 required", onchange = "Entidad.LoadStates(this.value)" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.DropDownListFor(model => model.Estado, (IEnumerable<SelectListItem>)ViewBag.EstadoList, "Seleccione el Tipo Estado", new { @class = "form-control col-md-12 col-xs-12 required select2", @style = "width:100%;" })
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 dp-date">
                    @Html.LabelFor(model => model.FechaConstitucion, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @{
                            string fechaConstitucion = (Model.FechaConstitucion.Year != 1 ? Model.FechaConstitucion.ToString("dd/MM/yyyy") : "");
                        }
                        <input type="hidden" value="@fechaConstitucion" id="hdf_FechaConstitucion" />
                        @Html.TextBoxFor(model => model.FechaConstitucion, new { @class = "form-control col-md-12 col-xs-12 required" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 dp-date">
                    @Html.LabelFor(model => model.FechaAutorizacion, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @{
                            string fechaAutorizacion = (Model.FechaAutorizacion.Year != 1 ? Model.FechaAutorizacion.ToString("dd/MM/yyyy") : "");
                        }
                        <input type="hidden" value="@fechaAutorizacion" id="hdf_FechaAutorizacion" />
                        @Html.TextBoxFor(model => model.FechaAutorizacion, new { @class = "form-control col-md-12 col-xs-12 required"})
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 dp-date">
                    @Html.LabelFor(model => model.FechaInscripcion, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @{
                            string fechaInscripcion = (Model.FechaInscripcion.Year != 1 ? Model.FechaInscripcion.ToString("dd/MM/yyyy") : "");
                        }
                        <input type="hidden" value="@fechaConstitucion" id="hdf_FechaInscripcion" />
                        @Html.TextBoxFor(model => model.FechaInscripcion, new { @class = "form-control col-md-12 col-xs-12 required"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 dp-date">
                    @Html.LabelFor(model => model.FechaFinalInscripcion, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @{
                            string fechaFinalInscripcion = (Model.FechaFinalInscripcion != null ?
                                (Model.FechaFinalInscripcion?.Year != 1 ? Model.FechaAutorizacion.ToString("dd/MM/yyyy") : "") : "");
                        }
                        <input type="hidden" value="@fechaFinalInscripcion" id="hdf_FechaFinalInscripcion" />
                        @Html.TextBoxFor(model => model.FechaFinalInscripcion, new { @class = "form-control col-md-12 col-xs-12"})
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 dp-date">
                    @Html.LabelFor(model => model.TipoEntidadSes, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.DropDownListFor(model => model.TipoEntidadSes, (IEnumerable<SelectListItem>)ViewBag.TipoEntidadSesList, "Seleccione", new { @class = "form-control col-md-12 col-xs-12 required select2", @style = "width:100%;" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 dp-date">
                    @Html.LabelFor(model => model.EstadoEntidadSes, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.DropDownListFor(model => model.EstadoEntidadSes, (IEnumerable<SelectListItem>)ViewBag.EstadoEntidaSesList, "Seleccione", new { @class = "form-control col-md-12 col-xs-12" })
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 dp-date">
                    @Html.LabelFor(model => model.PerfilAsociados, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextAreaFor(model => model.PerfilAsociados, new { @class = "form-control col-md-12 col-xs-12", @maxlength = 300, @style = "resize:none;"})
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="d-none">
                <input type="submit" value="Guardar" class="btn btn-primary" id="btn-create-format" data-tippy-content="Pulse para Guardar." />
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" onclick="hideModalPartial();" data-tippy-content="Pulse para Cancelar.">Cancelar</button>
    <button type="button" class="btn btn-primary" onclick="Entidad.Save();" data-tippy-content="Pulse para Guardar.">Guardar</button>
</div>

<script>
    setSelect2();
</script>