@model IEnumerable<Core.Application.Website.Models.FormatModel>
@using NonFactors.Mvc.Grid
@{
    var urlEdit = @Url.Action("Edit");
    var urlExportData = @Url.Action("ExportTemplateFormat");
    var urlDelete = @Url.Action("Delete");
    var urlFormatLine = @Url.Action("Index", "FormatLine");
    var urlFomatTypeConfiguration = @Url.Action("Index", "FomatTypeConfiguration");
}

@(Html.Grid("_CustomPartialMasterGrid", Model).Build(columns =>
{
    columns.Add(c => c.Type.Name).Titled("Tipo Formato").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Code).Titled("Código").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Name).Titled("Nombre").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Alias).Titled("Alias").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.PeriodicitiesNames).Titled("Periodicidad").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Description).Titled("Descripción").UsingDefaultFilterMethod("contains").Sortable(false);
    columns.Add(c => c.StorageTable).Titled("Tabla Almacenamiento").UsingDefaultFilterMethod("contains").Sortable(false);
    columns.Add(c => c.IsRequired).Titled("Obligatorio").RenderedAs(x => x.IsRequired ? "SI" : "NO").Sortable(false);
    columns.Add(c => c.IsEnabled).Titled("Activo").RenderedAs(x => x.IsEnabled ? "SI" : "NO").Sortable(false);
    columns.Add(c => c.IsTrasposed).Titled("Formato Traspuesto").RenderedAs(x => x.IsTrasposed ? "SI" : "NO").Sortable(false);
    columns.Add().Titled("Acciones").RenderedAs(s => $"<div class='d-flex'><i class='fa fa-edit btn-lg text-primary-icon gel-tab-key' tabindex='0' data-tippy-content='Editar' onclick=\"Format.OpenEdit('{urlEdit}?id={s.Id}');\"></i><i class='fa fa-list-ol btn-lg text-primary-icon gel-tab-key' tabindex='0' data-tippy-content='Establecer inicio de lectura' onclick=\"FomatTypeConfiguration.OpenFomatTypeConfiguration('{urlFomatTypeConfiguration}?formatId={s.Id}');\"></i><i class='fas fa-file-excel btn-lg text-primary-icon gel-tab-key' tabindex='0' data-tippy-content='Exportar plantilla Excel' onclick=\"Format.ExportTemplateFormat('{urlExportData}?id={s.Id}', '{s.Name}');\"></i> <i class='fa fa-trash btn-lg text-danger-icon gel-tab-key' tabindex='0' data-tippy-content='Eliminar' style='margin-left:2px' onclick=\"Format.DisabledFormat('{urlDelete}?id={s.Id}')\"></i></div>").Encoded(false);
    columns.Add().Titled("Renglones").RenderedAs(s => $"<div class='form-inline'><i class='fa fa-list btn-lg text-primary-icon gel-tab-key' tabindex='0' data-tippy-content='Renglones' style='margin-left:2px' onclick=\"FormatLine.OpenFormatLine('{urlFormatLine}?formatId={s.Id}')\"></i></div>").Encoded(false);
}).Empty("No se encontraron datos").Filterable().Sortable().Id("my-ajax-grid")
                                        .Pageable(pager =>
                                        {
                                            pager.PageSizes = new Dictionary<Int32, String> { { 0, "Todos" }, { 5, "5" }, { 10, "10" }, { 50, "50" }, { 100, "100" } };
                                            pager.ShowPageSizes = true;
                                            pager.RowsPerPage = 5;
                                        }).Css("table table-bordered table-hover")

)
