@model Core.Application.Website.Models.ChangePassword

@{
    ViewBag.Title = "Cambio de contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-xl-12 col-sm-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <div class="row">
                <div class="col-6">
                    <div class="form-inline">
                        <h4 class="card-title ">
                            Cambiar contraseña
                        </h4>

                    </div>
                    <p class="card-category">
                    </p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <form id="frmChangePassword" method="post" data-ajax="true" data-ajax-method="post" asp-action="ChangePasswordResult" asp-controller="Login" data-ajax-success="Showsuccess" class="form-horizontal" data-ajax-begin="return formValidation('frmChangePassword');">
                        <br />                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control required" } })                                
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control required" } })                                
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control required" } })                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Cambiar" class="btn btn-primary" data-tippy-content="Pulse para Cambiar la Contraseña." />
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.replace('@Url.Action("Index")')" data-tippy-content="Pulse para Cancelar.">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-6">
                    @if (Model.PasswordPolicies != null)
                    {
                        <br />
                        <h5>Políticas de cambio de Contraseña</h5>
                        <ul>
                            <li>@Html.DisplayNameFor(model => model.PasswordPolicies.PasswordRequireNonLetterOrDigit): <b>@Model.PasswordPolicies.PasswordRequireNonLetterOrDigit</b></li>
                            <li>@Html.DisplayNameFor(model => model.PasswordPolicies.PasswordRequireUppercase): <b>@Model.PasswordPolicies.PasswordRequireUppercase</b></li>
                            <li>@Html.DisplayNameFor(model => model.PasswordPolicies.PasswordRequireLowercase): <b>@Model.PasswordPolicies.PasswordRequireLowercase</b></li>
                            <li>@Html.DisplayNameFor(model => model.PasswordPolicies.PasswordRequireDigit): <b>@Model.PasswordPolicies.PasswordRequireDigit</b></li>
                            <li>@Html.DisplayNameFor(model => model.PasswordPolicies.PasswordExpiredDays): <b>@Model.PasswordPolicies.PasswordExpiredDays</b></li>
                            <li>@Html.DisplayNameFor(model => model.PasswordPolicies.PasswordRequiredLength): <b>@Model.PasswordPolicies.PasswordRequiredLength</b></li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function Showsuccess(response) {
        if (response.Status === 200) {
            showAlert(response.Message, 'success');            
        } else {
            showAlert(response.Message, 'danger');
            if (response.Message == "Usuario bloqueado") {
                window.location.replace('@Url.Action("Index")');
            }
        }
    }
    $(function () {
        CreateAllTooltips();
    });

</script>
