@inject Core.Domain.ValuesCatalogService.IValueCatalogService _valueCatalogService;
@{
    var applicationInfo = _valueCatalogService.GetApplicationInfo().Result;
    ViewData["Title"] = "Iniciar sesión";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/img/favicon.png" />
    <title>@ViewData["Title"] - @applicationInfo.Name</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/sb-admin-2.css" />
    <link href="~/css/gel.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="bg-white" style="margin-bottom: 0 !important;">
    <input type="hidden" id="baseUrl" value="@ViewBag.UrlBase" />
    <header>
        <div id="bar-govco">
            <div class="container">
                <a href="https://www.gov.co/" target="_blank" data-tippy-content="Pulse para ir a GOV CO">
                    <img src="~/img/header_govco.png" alt="Icono Gobierno de Colombia">
                </a>
            </div>
        </div>
    </header>

    <div class="">
        <input type="hidden" id="hfTerminosUrl" value="@ViewBag.TerminosUrl" />
        <input type="hidden" id="hfHabeasDataUrl" value="@ViewBag.HabeasDataUrl" />
        <input type="hidden" id="hfIsEnableCaptcha" value="@ViewBag.IsEnableCaptcha.ToString().ToLower()" />
        <main role="main" class="pb-3">
            <partial name="_ModalPartial" />

            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <img src="~/img/logo-fogacoop.jpg" class="logofgc" alt="Gobierno de colombia">
                    </div>
                </div>
                <!-- Outer Row -->
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-12 col-md-9 d-flex justify-content-center">
                        <div class="card o-hidden border-0 my-5 shadow-lg" style="width: 25rem;">
                            <div class="card-header">
                                <b style="color:#36c;" data-tippy-content="Sistema de Información de Datos">@applicationInfo.Name</b>
                            </div>
                            <div class="card-body p-0">
                                <!-- Nested Row within Card Body -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="pl-5 pb-5 pr-5 pt-4 text-center">

                                            <div class="text-center">
                                                <h1 class="h4 mb-4"><b style="color:#36c;">Iniciar Sesión</b></h1>
                                            </div>

                                            <form asp-action="Index" asp-controller="Login"
                                                  data-ajax="true" data-ajax-method="POST"
                                                  data-ajax-begin="showLoading('Ingresando...')" onsubmit="AJAXSubmit(this);return false;" class="user">
                                                <div class="form-group">
                                                    <input type="text" class="form-control"
                                                           id="UserName" name="UserName" aria-describedby="emailHelp"
                                                           placeholder="Usuario">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control"
                                                           id="Password" name="Password" placeholder="Contraseña">
                                                </div>

                                                @if (ViewBag.IsEnableCaptcha == true)
                                                {
                                                    <div class="form-group text-center" style="display: flex; justify-content: center;">
                                                        <div class="g-recaptcha" data-sitekey="@ViewBag.CaptchaKey"></div>
                                                    </div>
                                                }
                                                <div class="d-flex justify-content-center">
                                                    <input class="btn btn-primary btn-user btn-block" type="submit" value="Ingresar" data-tippy-content="Pulse para Ingresar." />
                                                </div>
                                            </form>
                                            <hr>
                                            <div class="text-center">
                                                <a class="small" href="@Url.Action("RememberPassword","Login")">¿Olvidaste tu contraseña?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer id="master2022">
        <div class="container">
            <div class="row contentContacto">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="izquierda">
                        <div>
                            <h3 class="tituloEntidad">Fondo de Garantías de Entidades Cooperativas</h3>
                            <h4 class="tituloSede">Sede Principal</h4>
                            <ul class="contactoFooter">
                                <li class="dfwp-item"><div class="contactos"><p>Carrera 13 No. 32-93. Int 3 Parque Residencial Baviera.</p></div></li>
                                <li class="dfwp-item"><div class="contactos"><p>Codigo Postal: 110311</p></div></li>
                                <li class="dfwp-item"><div class="contactos"><p>Bogotá - Colombia</p></div></li>
                                <li class="dfwp-item"><div class="contactos"><p>Horario de Atención: De Lunes a Viernes de 8:00 am a 5:00 pm</p></div></li>
                                <li class="dfwp-item"><div class="contactos"><p>Teléfono conmutador: (+57) (601) 4324610</p></div></li>
                                <li class="dfwp-item"><div class="contactos"><p>Línea de atención nacional 018000 413749</p></div></li>
                                <li class="dfwp-item"><div class="contactos"><p>Linea anticorrupción PBX: (+57) (601) 4324610 - ext: 137</p></div></li>
                                <li class="dfwp-item"><div class="contactos"><p>Correo Institucional: fogacoop@fogacoop.gov.co</p></div></li>
                                <li class="dfwp-item"><div class="contactos"><p>Correo Notificaciones Judiciales: notificacionesjudiciales@fogacoop.gov.co</p></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="derecha">
                        <img class="logofgc-footer" src="~/img/logo_fogacoop_vertical.png" class="img-responsive" alt="Gobierno de colombia">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="inferior">
                        <ul class="icon-redes">
                            <li class="dfwp-item">
                                <div class="item-redes">
                                    <a href="https://www.fogacoop.gov.co/suscripci%C3%B3n-a-rss" target="_blank">
                                        <div class="iconredes"><img src="https://www.fogacoop.gov.co/Style%20Library/redes/rss.png" data-tippy-content="Suscripción RSS" alt="Suscripción RSS" class="iconoFooter"></div><p class="titulo" data-tippy-content="Pulse para ir a Suscripción RSS">Suscripción RSS</p>
                                    </a>
                                </div>
                            </li>
                            <li class="dfwp-item">
                                <div class="item-redes">
                                    <a href="https://co.linkedin.com/company/fogacoop" target="_blank">
                                        <div class="iconredes"><img src="https://www.fogacoop.gov.co/Style%20Library/redes/linkedin.png" data-tippy-content="Linkedin" alt="Linkedin" class="iconoFooter"></div><p class="titulo" data-tippy-content="Pulse para ir a Linkedin">Linkedin</p>
                                    </a>
                                </div>
                            </li>
                            <li class="dfwp-item">
                                <div class="item-redes">
                                    <a href="https://twitter.com/fogacoop" target="_blank">
                                        <div class="iconredes"><img src="https://www.fogacoop.gov.co/Style%20Library/redes/twitter.png" data-tippy-content="Twitter" alt="Twitter" class="iconoFooter"></div><p class="titulo" data-tippy-content="Pulse para ir a Twitter">Twitter</p>
                                    </a>
                                </div>
                            </li>
                            <li class="dfwp-item">
                                <div class="item-redes">
                                    <a href="https://www.facebook.com/Fogacoop-202902686518247/" target="_blank">
                                        <div class="iconredes"><img src="https://www.fogacoop.gov.co/Style Library/redes/facebook.png" data-tippy-content="Facebook" alt="Facebook" class="iconoFooter"></div><p class="titulo" data-tippy-content="Pulse para ir a Facebook">Facebook</p>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <ul class="cont_direccion">
                            <li class="dfwp-item"><a href="https://www.fogacoop.gov.co/politicas-de-privacidad-y-condiciones-de-uso/" target="_blank" data-tippy-content="Pulse para ir a Política de privacidad y condiciones de uso">Política de privacidad y condiciones de uso</a></li>
                            @*<li class="dfwp-item"><a href="https://www.fogacoop.gov.co/mapa-del-sitio/" target="_blank" data-tippy-content="Pulse para ir a Mapa del Sitio">Mapa del Sitio</a></li>*@
                            <li class="dfwp-item"><a href="https://www.fogacoop.gov.co/entidad/directorio-personal/" target="_blank" data-tippy-content="Pulse para ir a Directorio Institucional">Directorio Institucional</a></li>
                            @*<li class="dfwp-item"><a href="https://fogacoop2.sharepoint.com/sites/intranet/" target="_blank" data-tippy-content="Pulse para ir a Intranet">Intranet</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="bar-govco-footer">
            <a href="https://www.colombia.co/" target="_blank" style="color: #36c !important;">
                <img id="imgcoColmbia" src="~/img/coColombia.png" data-tippy-content="Pulse para ir a Colombia" target="_blank">
            </a>
            <a href="https://www.gov.co/" target="_blank" data-tippy-content="Pulse para ir a GOV CO">
                <img id="imggovco" src="~/img/header_govco.png">
            </a>
        </div>
    </footer>

    @if (ViewBag.IsEnableCaptcha == true)
    {
        <script src="https://www.google.com/recaptcha/api.js?hl=es" async defer></script>
    }

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap-notify.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/tippy.js"></script>
    <script src="~/js/core/Login/login.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function () {
            CreateAllTooltips();
        });
    </script>
</body>
</html>