@inject Core.Application.Website.Models.IUserBasicModel _sesion;
@using System.Collections;
@using Core.Application.Website.Models;
@using Core.Application.Website.Providers;
@inject Core.Domain.ValuesCatalogService.IValueCatalogService _valueCatalogService;
@{
    var currentUser = _sesion.GetCurrentUser();
    var applicationInfo = _valueCatalogService.GetApplicationInfo().Result;

    if (currentUser == null)
    {
        currentUser = new UserBasicModel();
    }
}

<div class="sidebar bg-gradient-primary">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height:100%;">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")" data-tippy-content="@applicationInfo.Description">
            <div class="sidebar-brand-text mx-3">@applicationInfo.Name</div>
        </a>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <hr class="sidebar-divider my-0 mb-3">
            <button class="rounded-circle border-0" id="sidebarToggle" data-tippy-content="Pulse para recoger o expandir el menú."></button>
            <hr class="sidebar-divider my-0">
        </div>

        @{
            var hashMenu = new Hashtable();
            var listPrivileges = new List<string>();
            if (currentUser.Roles != null)
            {
                currentUser.Roles.ForEach((rol) =>
                {
                    rol.Privileges.ForEach((privilege) =>
            {
                if (!listPrivileges.Contains(privilege.Code))
                {
                    listPrivileges.Add(privilege.Code);
                }
            });
                });
            }
        }
        <!-- Divider -->
        <!-- Nav Item - Dashboard -->
        @if (listPrivileges.Contains(PrivilegesEnum.ViewDashboard.ToString()))
        {
            hashMenu.Add(PrivilegesEnum.ViewDashboard.ToString(), true);
            <li class="nav-item" data-tippy-content="Pulse para ir al tablero." id="nav-dashboard">
                <a class="nav-link" href="@Url.Action("Index", "Dashboard")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tablero Gráfico</span>
                </a>
            </li>
        }

        @if (listPrivileges.Contains(PrivilegesEnum.UpdateOrganizationInformation.ToString()))
        {
            hashMenu.Add(PrivilegesEnum.UpdateOrganizationInformation.ToString(), true);
            <li class="nav-item" data-tippy-content="Pulse para actualizar la información de la organización." id="nav-entidadesRecaudo">
                <a class="nav-link" href="@Url.Action("Index", "RecaudoEntidades")">
                    <i class="fas fa-fw fa-building"></i>
                    <span>Información Cooperativa</span>
                </a>
            </li>
        }
        <!-- Divider -->
        <hr class="sidebar-divider">

        @if (listPrivileges.Contains(PrivilegesEnum.AdminCore.ToString()))
        {
            hashMenu.Add(PrivilegesEnum.AdminCore.ToString(), true);
            <li class="nav-item" id="parametrizacionNav">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#parametrizacion"
                   aria-expanded="true" aria-controls="parametrizacion" data-tippy-content="Pulse para ver el menú de Parametrización.">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Parametrización</span>
                </a>
                <div id="parametrizacion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index", "Catalog")" data-tippy-content="Pulse para ir a catálogos." id="nav-catalog">Catálogos</a>
                        <a class="collapse-item" href="@Url.Action("Index", "CaptureUnit")" data-tippy-content="Pulse para ir a unidades de captura." id="nav-captureunit">Unidades de Captura</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Periodicity")" data-tippy-content="Pulse para ir a periodicidad." id="nav-periodicity">Periodicidad</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Format")" data-tippy-content="Pulse para ir a formatos." id="nav-format">Formatos</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Validation")" data-tippy-content="Pulse para ir a validaciones." id="nav-validation">Validaciones</a>
                        <a class="collapse-item" href="@Url.Action("Index", "LoadType")" data-tippy-content="Pulse para ir a los tipos de carga." id="nav-loadType">Tipos de Carga</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Homologation")" data-tippy-content="Pulse para ir a las homologaciones." id="nav-homologation">Homologaciones</a>
                        <a class="collapse-item" href="@Url.Action("Index", "ProcessingOrder")" data-tippy-content="Pulse para ir a priorización cargue." id="nav-queuemessagepriority">Priorización Cargue</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MessageError")" data-tippy-content="Pulse para ir a mensajes de error." id="nav-messageserror">Mensajes De Error</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MaximunDate")" data-tippy-content="Pulse para ir a fechas máximas de transmisión." id="nav-maximundate">Fechas Transmisión</a>
                        <a href="@Url.Action("Index", "ReportParameter")" class="collapse-item" data-tippy-content="Pulse para ir a Parámetros Reportes." id="nav-report-parameter">Parámetros Reportes</a>
                        <a href="@Url.Action("Index", "Report")" class="collapse-item" data-tippy-content="Pulse para ir a Reportes." id="nav-report">Reportes</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
        }


        @*@if (listPrivileges.Contains(PrivilegesEnum.AdminCore.ToString()))
        {
            <li class="nav-item" id="omnicanalNav">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#omnicanal"
                   aria-expanded="true" aria-controls="parametrizacion" data-tippy-content="Pulse para ver el menú de Omnicanal.">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Omnicanal</span>
                </a>
                <div id="omnicanal" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("EditInfo", "OmnicanalCooperativeInfo")" data-tippy-content="Pulse para ir a Gestión usuarios." id="nav-info-cooperative">Gestión usuarios</a>
                        <a class="collapse-item" href="@Url.Action("EditInfo", "OmnicanalCooperativeInfo")" data-tippy-content="Pulse para ir a Información Cooperativa." id="nav-info-cooperative">Información Cooperativa</a>
                        <a class="collapse-item" href="@Url.Action("Index", "OmnicanalCooperativeRequest")" data-tippy-content="Pulse para ir a Otras Solicitudes." id="nav-omnicanal-cooperative-request">Otras Solicitudes</a>

                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
        }*@

        @if (listPrivileges.Contains(PrivilegesEnum.Load.ToString()))
        {
            <li class="nav-item" data-tippy-content="Pulse para ir a la carga de formatos.">
                <a href="@Url.Action("Index", "Load")" class="nav-link" id="nav-loadformats">
                    <i class="fas fa-fw fa-file-upload"></i>
                    <span>Carga de Formatos</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        }

        @if (listPrivileges.Contains(PrivilegesEnum.AdminCore.ToString()) || listPrivileges.Contains(PrivilegesEnum.ViewReports.ToString()))
        {
            <li class="nav-item" data-tippy-content="Pulse para ir a Ejecutar Reportes." id="nav-run-report">
                <a href="@Url.Action("Index", "RunReport")" class="nav-link">
                    <i class='fas fa-fw fa-file-excel'></i>
                    <span>Reportes</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        }

        @if (listPrivileges.Contains(PrivilegesEnum.AdminCore.ToString()))
        {
            <li class="nav-item" data-tippy-content="Pulse para ir a los Logs." id="nav-logs">
                <a href="@Url.Action("Index", "Log")" class="nav-link">
                    <i class='fas fa-fw fa-file'></i>
                    <span>Logs</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        }



        @if (listPrivileges.Contains(PrivilegesEnum.AdminCore.ToString()))
        {
            <li class="nav-item" id="parametrizacionMonitoreoNav">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#parametrizacionMonitoreo"
                   aria-expanded="true" aria-controls="parametrizacionMonitoreo" data-tippy-content="Pulse para ver el menú de Monitoreo.">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Monitoreo</span>
                </a>
                <div id="parametrizacionMonitoreo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index", "MonitoreoConstantes")" data-tippy-content="Pulse para ir a constantes." id="nav-constantesmonitoreo">Constantes</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MonitoreoFormatos")" data-tippy-content="Pulse para ir a Formatos." id="nav-formatosmonitoreo">Formatos</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MonitoreoCapitalRequired")" data-tippy-content="Pulse para ir a Capital Requerido." id="nav-capitalrequeridomonitoreo">Capital Requerido</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MonitoreoTasas")" data-tippy-content="Pulse para ir a Tasas." id="nav-tasasmonitoreo">Tasas</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MonitoreoMatcamelBetas")" data-tippy-content="Pulse para ir a Matcamel Betas." id="nav-matcamelbetas">Matcamel Betas</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MonitoreoRangoSolvAnio")" data-tippy-content="Pulse para ir a Rango Solv Año." id="nav-rangosolvanio">Rango Solv Año</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MonitoreoPucFinanciera")" data-tippy-content="Pulse para ir a Cuentas Financieras." id="nav-cuentasfinancieras">Cuentas Financieras</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MonitoreoPucSolidaria")" data-tippy-content="Pulse para ir a Cuentas Solidarias." id="nav-cuentassolidarias">Cuentas Solidarias</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MonitoreoRangosValores")" data-tippy-content="Pulse para ir a Rangos Valores." id="nav-rangosvalores">Rangos Valores</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MonitoreoMatInfoAdicional")" data-tippy-content="Pulse para ir a Indicador Para MAT." id="nav-matinfoadicional">Indicador Para MAT</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MonitoreoTopesTasas")" data-tippy-content="Pulse para ir a Topes Tasas." id="nav-topestasas">Topes Tasas</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MonitoreoFechaCorte")" data-tippy-content="Pulse para ir a Fechas Lanzamiento Flujos." id="nav-monfechacorte">Fechas Lanzamiento<br /> Flujos </a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
        }

        @if (listPrivileges.Contains(PrivilegesEnum.AdminCore.ToString()))
        {
            <li class="nav-item" id="parametrizacionRecaudoNav">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#parametrizacionRecaudo"
                   aria-expanded="true" aria-controls="parametrizacionRecaudo" data-tippy-content="Pulse para ver el menú de Recaudo.">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Recaudo</span>
                </a>
                <div id="parametrizacionRecaudo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index", "RecaudoTasaMora")" data-tippy-content="Pulse para ir a tasa de mora." id="nav-tasaMoraRecaudo">Tasas De Mora</a>
                        <a class="collapse-item" href="@Url.Action("Index", "RecaudoDepartamentos")" data-tippy-content="Pulse para ir a Departamentos." id="nav-departamentosRecaudo">Departamentos</a>
                        <a class="collapse-item" href="@Url.Action("Index", "RecaudoMunicipios")" data-tippy-content="Pulse para ir a Municipios." id="nav-municipiosRecaudo">Municipios</a>
                        <a class="collapse-item" href="@Url.Action("Index", "RecaudoPsdControlFecha")" data-tippy-content="Pulse para ir a Fechas De Control." id="nav-fechaControlRecaudo">Fechas De Control</a>
                        <a class="collapse-item" href="@Url.Action("Index", "RecaudoEntidad")" data-tippy-content="Pulse para ir a Entidad." id="nav-entidadRecaudo">Entidad</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
        }

        @if (listPrivileges.Contains(PrivilegesEnum.AdminCore.ToString()) || listPrivileges.Contains(PrivilegesEnum.AdminSIG.ToString()))
        {
            <li class="nav-item" id="parametrizacionSIGNav">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#parametrizacionSIG"
                   aria-expanded="true" aria-controls="parametrizacionSIG" data-tippy-content="Pulse para ver el menú de SIG.">
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>Parámetros SIG</span>
                </a>
                <div id="parametrizacionSIG" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index", "GraphicGroup")" data-tippy-content="Pulse para ir a Grupos Gráficas." id="nav-graphicgroup">Grupos Gráficas</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Indicator")" data-tippy-content="Pulse para ir a Indicadores." id="nav-indicator">Indicadores</a>
                        <a href="@Url.Action("Index", "Graphic")" class="collapse-item" data-tippy-content="Pulse para ir a Gráficas." id="nav-graphic">Gráficas</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
        }

        @if (listPrivileges.Contains(PrivilegesEnum.AdminCore.ToString()) || listPrivileges.Contains(PrivilegesEnum.AdminSIG.ToString()) || listPrivileges.Contains(PrivilegesEnum.ViewGraphicsSIG.ToString()))
        {
            <li class="nav-item" data-tippy-content="Pulse para ir a Ejecutar Gráficas." id="nav-run-graphic">
                <a href="@Url.Action("Index", "RunGraphic")" class="nav-link">
                    <i class='fas fa-fw fa-chart-bar'></i>
                    <span>Gráficas</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        }

        @if (listPrivileges.Contains(PrivilegesEnum.GenerateCertificateCooperative.ToString()))
        {
            <li class="nav-item" data-tippy-content="Pulse para ir a Generar Certificado de Cooperativa." id="nav-generate-certificate">
                <a href="@Url.Action("Index", "GenerateCertificateCooperative")" class="nav-link">
                    <i class='fa fa-file-pdf'></i>
                    <span>Generar Certificado</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        }
        @if (listPrivileges.Contains(PrivilegesEnum.GenerateCertificateCooperativeAdmin.ToString()))
        {
            <li class="nav-item" data-tippy-content="Pulse para ir a Certificado Cooperativa." id="nav-generate-certificate">
                <a href="@Url.Action("Index", "GenerateCertificateCoopAdmin")" class="nav-link">
                    <i class='fa fa-file-pdf'></i>
                    <span>Certificado Cooperativa</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        }

        @if (listPrivileges.Contains(PrivilegesEnum.FileUploadSIG.ToString()))
        {
            <li class="nav-item" data-tippy-content="Pulse para ir a Carga de archivos." id="nav-file-upload">
                <a href="@Url.Action("Index", "FileUpload")" class="nav-link">
                    <i class='fas fa-upload'></i>
                    <span>Carga de archivos</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        }


        @if (listPrivileges.Contains(PrivilegesEnum.FileDownloadSIG.ToString()))
        {
            <li class="nav-item" data-tippy-content="Pulse para ir a Decarga de archivos." id="nav-file-download">
                <a href="@Url.Action("Index", "FileDownload")" class="nav-link">
                    <i class='fas fa-download'></i>
                    <span>Decarga de archivos</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        }

        @if (listPrivileges.Contains(PrivilegesEnum.AdminCore.ToString()) || listPrivileges.Contains(PrivilegesEnum.AutomaticCalculation.ToString()))
        {
            <li class="nav-item" id="calculoLogNav">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#calculoAutomatico"
                   aria-expanded="true" aria-controls="parametrizacionSIG" data-tippy-content="Pulse para ver el menú de Cálculos Automáticos .">
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>Cálculos Automáticos</span>
                </a>
                <div id="calculoAutomatico" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index", "RecaudoAutomaticCalculation")" data-tippy-content="Pulse para ir a Pulse para ir a los Logs Cálculos" id="nav-logCalculation">Logs Cálculos</a>
                        <a class="collapse-item" href="@Url.Action("Index", "RecaudoCalculateEstimates")" data-tippy-content="Pulse para ir a Pulse para ir a Recalcular Estimados" id="nav-CalculateEstimates">Recalcular Estimados</a>
                        <a class="collapse-item" href="@Url.Action("Index", "RecaudoCalculateArrears")" data-tippy-content="Pulse para ir a Pulse para ir a Recalcular Mora" id="nav-CalculateArrears">Recalcular Mora</a>
                        <a class="collapse-item" href="@Url.Action("Index", "RecaudoSettlementCalculation")" data-tippy-content="Pulse para ir a Pulse para ir a Cálculo Liquidación" id="nav-calculate-settlement">Cálculo Liquidación</a>

                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
        }

    </ul>
</div>
<!-- End of Sidebar -->