@model Core.Domain.ViewModel.ZipFileVM
@{
    ViewBag.Title = "Carga de Formatos";
    ViewBag.Subtitle = "Vista para realizar la carga de los formatos.";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/core/Carga.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/vendor/datatables/dataTables.bootstrap4.min.css")" />
}

<div class="card">
    <div class="card-header card-header-primary">
        <div class="row">
            <div class="col-4 form-group">
                <h4 class="card-title">
                    Carga de formatos
                </h4>
                <p class="card-category">
                    @Html.Raw($"({@Model.OrganizationName} - {Model.OrganizationCode})")
                </p>
            </div>
            <div class="col-8 form-group">
                <div class="row justify-content-end">
                    <div class="col-sm-3 form-group">
                        @Html.Label("tipoCooperativa", "Tipo Cooperativa", new { @class = "" })
                        @if (ViewBag.DisabledCooperativeList)
                        {
                            @Html.DropDownList("cooperativeTypes", ViewBag.CooperativeType, "Seleccione...", htmlAttributes: new { @class = "form-control", onchange = "$('#CooperativeType').val(this.value).trigger('change');", @disabled = "disabled" })
                        }
                        else
                        {
                            @Html.DropDownList("cooperativeTypes", ViewBag.CooperativeType, "Seleccione...", htmlAttributes: new { @class = "form-control", onchange = "$('#CooperativeType').val(this.value).trigger('change');" })
                        }
                    </div>
                    <div class="col-sm-3 form-group">
                        @Html.Label("tipoCarga", "Tipo Carga", new { @class = "" })
                        @Html.DropDownList("loadType", ViewBag.LoadType, "Seleccione...", htmlAttributes: new { @class = "form-control", onchange = "$('#LoadType').val(this.value).trigger('change');" })
                    </div>
                    <div class="col-sm-3 form-group">
                        @Html.LabelFor(m => m.CutDate, Model.CutDate, new { @class = "" })
                        @*@Html.DropDownList("slCortes", Model.Cuts, "-- Seleccione --", htmlAttributes: new { @class = "form-control", onchange = "$('#CutDate').val(this.value).trigger('change');" })*@
                        @Html.DropDownListFor(model => model.Cuts, new List<SelectListItem>(), "Seleccione...", new { @id = "Cuts", @class = "form-control", onchange = "$('#CutDate').val(this.value).trigger('change');" })
                        @Html.Editor("fechaCorte", "", new { htmlAttributes = new { @id = "Cut", @value = "ViewBag.date", @class = "form-control", onchange = "$('#CutDate').val(this.value).trigger('change');" } })
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <div class="wizard-content" style="">
                    <div class="wizard-steps-panel steps-quantity-3">
                        <div class="step-number doing" id="step-1-number">
                            <div class="number">1</div>
                        </div>
                        <div class="step-number" id="step-2-number">
                            <div class="number">2</div>
                        </div>
                        <div class="step-number" id="step-3-number">
                            <div class="number">3</div>
                        </div>
                    </div>

                    <div id="step-1" style="display: block;">
                        <h6>Carga de Formatos - Validación</h6>
                        <small>
                            En este paso se realiza la selección y validación de un archivo comprimido en <b>zip</b> el cual deberá contener los formatos de carga de información. Si todo esta correcto se pasa al siguiente paso o se muestran los errores de validación encontrados.
                        </small>
                    </div>
                    <div id="step-2" style="display: none;">
                        <h6>Carga de Formatos - Subida al FTP</h6>
                        <small>
                            En este paso se realiza la carga del archivo seleccionado al servidor.
                        </small>
                    </div>
                    <div id="step-3" style="display: none;">
                        <h6>Carga de Formatos - OK</h6>
                        <small>
                            En este paso se procesan los formatos cargados en el comprimido <b>zip</b>. Será satisfactorio cuando no existan errores bloqueantes para la transferencia de información.
                        </small>
                    </div>
                </div>

                @*<form class="form-group" enctype="multipart/form-data" method="post" action="UploadFile" >*@
                <form class="form-group" enctype="multipart/form-data" id="frm-file-upload"
                      asp-controller="Load" asp-action="ValidateFile"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-begin="OnBegin"
                      data-ajax-success="fileResult">
                    @Html.AntiForgeryToken()
                    <input type="file" asp-for="AttachedFile" class="d-none" />

                    @Html.HiddenFor(m => m.OrganizationCode)
                    @Html.HiddenFor(m => m.OrganizationName)
                    @Html.HiddenFor(m => m.CooperativeType)
                    @Html.HiddenFor(m => m.LoadType)
                    @Html.HiddenFor(m => m.PeriodicityType)
                    @Html.HiddenFor(m => m.CutDate)
                    <div class="text-center noclick" id="upload-box" data-tippy-content="<div style='text-align: left;'>Para los archivos planos o de extensión .CSV tenga en cuenta:<br /><ul><li>El separador de miles para números enteros debe ser coma (,) o ninguno</li><li>El separador de decimales debe ser punto (.)</li><li>El formato de fechas debe ser DD/MM/AAAA</li><li>El carácter de separación del contenido en los archivos CSV será punto y coma (;)</li><li>Los valores no deben tener espacios en blanco al inicio ni al final</li></ul></div>">
                        <i class="fas fa-upload" id="icon-file" style="font-size:4rem;opacity:0.6"></i>
                        <br />
                        <label id="lblAttachedFile" class="text-info h5 gel-tab-key">Seleccione archivo.</label>
                    </div>
                    <div class="form-group row">
                        <input id="btn-validate-file" type="submit" value="Verificar" class="btn btn-info btn-block d-none" style="margin-top: .5rem;" />
                        <input id="btn-upload" type="submit" value="Cargar" class="btn btn-success btn-block d-none" />
                    </div>
                </form>
                <div id="info-erros" class="small alert alert-warning">Solo se mostrarán hasta 1000 registros. Puede ver todos los errores<span id="errors-count"></span> descargándolos en formato Excel con el botón <i class="fa fa-file-excel fa-lg" style="color: green;"></i></div>

                    <div class="tab" role="tabpanel">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation" data-istab="true">
                                <a id="formats-tab" data-toggle="tab" href="#formatErrors" role="tab" aria-controls="formatErrors" class="nav-link active" onclick="tabChange('format');">
                                    <i class="fa fa-file-excel fa-lg" id="btn_downloadformaterrors" data-tippy-content="Descargar Validación de Formatos" style="color: green;cursor:pointer; display:none;" onclick="exportErrors(1);"></i>&nbsp;&nbsp;
                                    Errores Formatos <span id="count-format-errors" data-tippy-content="Errores correctivos"></span>

                                    <div class="spinner-grow spinner-grow-sm d-none" id="spin-formats-tab" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation" data-istab="true">

                                <a id="data-tab" data-toggle="tab" href="#dataErrors" role="tab" aria-controls="dataErrors" class="nav-link" onclick="tabChange('data');">
                                    <i class="fa fa-file-excel fa-lg" id="btn_downloaddataerrors" data-tippy-content="Descargar Validación de Datos" style="color: green; cursor: pointer; display:none;" onclick="exportErrors(2);"></i> &nbsp;&nbsp;
                                    Errores Datos <span id="count-data-errors" data-tippy-content="Errores correctivos"></span> <span id="count-data-alerts" data-tippy-content="Errores preventivos"></span>

                                    <div class="spinner-grow spinner-grow-sm d-none" id="spin-data-tab" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content tab pt-2" id="container-tables">
                            <div role="tabpanel" class="tab-pane active" id="formatErrors">
                                <div class="row">
                                    <table class="table table-hover table-responsive table-sm" id="table-format-errors" style="overflow: auto; height:400px; width:100%;">
                                        <thead>
                                            <tr class="text-primary"><th>Formato</th><th>Campo</th><th>Fila En Archivo</th><th>Descripción</th><th>Fecha Validación</th></tr>
                                        </thead>
                                        <tbody id="table-format-errors-body"></tbody>
                                    </table>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="dataErrors">
                                <div class="row">
                                    <table class="table table-hover table-responsive" id="table-data-errors" style="overflow: auto; height: 400px; width: 100%;">
                                        <thead>
                                            <tr class="text-primary"><th>Tipo</th><th>Formato</th><th>Validación</th><th>Posible Solución</th><th>Fecha Validación</th></tr>
                                        </thead>
                                        <tbody id="table-data-errors-body"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                <p>
                    <input type="button" id="btn-sendEnd" class="btn btn-primary col-sm-3" value="Volver a Intentar" data-tippy-content="Este botón le permitirá volver a seleccionar el archivo .zip, pero no detendrá el proceso que ya se encuentre ejecutando en el servidor." />
                </p>
            </div>

            <div class="col-4">
                <div id="results" class="table-responsive-sm">
                    <div id="div-results" style="display: none"></div>

                    <p class="h5">
                        Proceso de carga
                        <br />
                        <button id="esb-loader" class="btn btn-outline-info btn-sm d-none" data-tippy-content="Procesando Archivos en servidor">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Procesando Archivos
                        </button>

                        <button id="spin-loading-process" class="btn btn-outline-info btn-sm d-none" data-tippy-content="Cargando Proceso">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button>
                    </p>

                    <table class="table table-bordered table-striped table-sm table-hover" id="table-results" style="display: none;">
                        <tr class="text-primary"><th>Fecha</th><th>Mensaje</th><th>Detalle</th></tr>
                        <tbody id="table-results-body"></tbody>
                    </table>

                    <p class="h6" id="table-old-results-title" style="display: none;">
                        <a data-toggle="collapse" class="nav-link collapsed" data-target="#oldResults" aria-expanded="true" aria-controls="collapsePages" href="#">
                            Pasos Anteriores
                        </a>
                    </p>
                    <div id="oldResults" class="collapse" data-parent="#results">
                        <table class="table table-bordered table-striped table-sm table-hover" id="table-old-results" style="display: none;">
                            <tr class="text-primary"><th>Fecha</th><th>Mensaje</th><th>Detalle</th></tr>
                            <tbody id="table-old-results-body"></tbody>
                        </table>
                    </div>

                    <input type="hidden" id="hfInterval" value="@ViewBag.Interval" />
                    <input type="hidden" id="hfIdAgrupador" />
                    <input type="hidden" id="hfIdEstado" />
                    <input type="hidden" id="hfIdProceso" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/vendor/datatables/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/js/core/Load/Carga.js")" asp-append-version="true"></script>
    @if (ViewBag.isBtnLoadTryAgainActive != true)
    {
        <script>
            $('#btn-sendEnd').hide();
        </script>
    }

    <script>
        $(function () {
            $("#cooperativeTypes").trigger("change");
        });
    </script>
}
