@model Core.Application.Website.Models.Monitoreo.MatInfoAdicionalModel
<!-- Modal -->

<div class="modal-header">
    <h5 class="modal-title" id="modal-user-create-title">@ViewBag.TitleModal</h5>
</div>
<div class="modal-body" id="modal-user-create-body" style="overflow-y: auto;">
    <form asp-action="CreateOrUpdate" asp-controller="Format" data-ajax="true" data-ajax-method="POST" id="formconstantescrud">

        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.TipoEntidad, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.DropDownListFor(model => model.TipoEntidad, (IEnumerable<SelectListItem>)ViewBag.ListTypeEntity, "Seleccione", htmlAttributes: new { @class = "form-control required", @style = "width:100%;" })
                    </div>
                </div> 
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.CodigoEntidad, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.DropDownListFor(model => model.CodigoEntidad, (IEnumerable<SelectListItem>)ViewBag.ListEntityCodeByTypeEntity, "Seleccione", htmlAttributes: new { @class = "form-control required select2", @style = "width:100%;" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.FechaCorte, htmlAttributes: new { @class = "col-form-label col-md-12 col-xs-12" })
                    <div class="col-md-12 col-xs-12 input-group dp-date">
                        @{
                            string fechaCorte = (Model.FechaCorte.Year != 1 ? Model.FechaCorte.ToString("dd/MM/yyyy") : "");
                        }
                        <input type="hidden" value="@fechaCorte" id="hdf_FechaCorte" />
                        @Html.TextBoxFor(model => model.FechaCorte, new { @class = "form-control col-md-12 col-xs-12 required"})
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.IdIndicador, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.DropDownListFor(model => model.IdIndicador,(IEnumerable<SelectListItem>)ViewBag.ListIndicators, htmlAttributes: new { @class = "form-control required", @style = "width:100%;" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(model => model.Valor, new { @class = "form-control col-md-12 col-xs-12 inputPositiveInput2d required", placeholder = "Digite el valor", @maxlength = 12})
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="d-none">
                <input type="submit" value="Guardar" class="btn btn-primary" id="btn-create-format" data-tippy-content="Pulse para Guardar." />
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" onclick="hideModalPartial();" data-tippy-content="Pulse para Cancelar.">Cancelar</button>
    <button type="button" class="btn btn-primary" onclick="MatInfoAdicional.Save();" data-tippy-content="Pulse para Guardar.">Guardar</button>
</div>
<script>
    MatInfoAdicional.InitControls();
</script>