@using NonFactors.Mvc.Grid
@{
    ViewBag.Title = "Log Cálculos Automáticos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/core/mvc-grid/mvc-grid.css" rel="stylesheet" />
<link href="~/css/jquery.json-viewer.css" rel="stylesheet" />
@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" asp-append-version="true" />
}


<div class="form-group d-none">
    <input id="btnFiltro" type="button" onclick="showLoading('Consultando...'); $.get('@Html.Raw(Url.Action("SetDates"))?startDate=' + $('#startDate').val() + '&endDate=' + $('#endDate').val(), function (response) { RenderGrid(); new MvcGrid(document.querySelector('.mvc-grid')).reload(); })" value="Filtrar" class="btn btn-outline-primary my-2 my-sm-0" />
</div>


<div id="GridTrack">

</div>
<div class="col-md-12 col-xl-12 col-sm-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <div class="row">
                <div class="col-5">
                    <div class="form-inline">
                        <h4 class="card-title ">
                            Log Cálculos Automáticos
                        </h4>
                    </div>

                    <p class="card-category">
                        Log de cálculos automáticos o automatizados
                    </p>
                </div>
                <div class="col-7">
                    <div class="text-white">
                        <form onsubmit="showLoading('Buscando...')" class="form-inline" action="@Url.Action("Index")">
                            <div class="input-daterange">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-md-10 col-sm-10 text-center">
                                                @Html.Label(null, "Fecha Inicio", htmlAttributes: new { @class = "col-form-label", @style = "color:white" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-sm-10">
                                                @Html.TextBox("startDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control input-date", @readonly = "readonly"})
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-md-10 col-sm-10 text-center">
                                                @Html.Label(null, "Fecha Fin", htmlAttributes: new { @class = "col-form-label", @style = "color:white" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-sm-10">
                                                @Html.TextBox("endDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control input-date", @readonly = "readonly"})
                                            </div>
                                            <div class="col-md-2 col-sm-2 text-center">
                                                <button type="button" onclick="$('#btnFiltro').click()" class="btn btn-white btn-round btn-just-icon text-white" data-tippy-content="Pulse para Consultar.">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @Html.AjaxGrid(Url.Action("IndexGrid"))
        </div>
    </div>
</div>
</div>

<script src="~/js/core/MvcGrid/mvc-grid.js"></script>

@section Scripts{

    <script>
        function RenderGrid() {
            [].forEach.call(document.getElementsByClassName('mvc-grid'),
                function (element) {
                    new MvcGrid(element);
                });
        }

        document.addEventListener('reloadend', function (e) {
            hideLoading();
            CreateAllTooltips();
            $(".json-viewer").each(function () {
                var input = eval('(' + $(this).text() + ')');
                $(this).jsonViewer(input);
                $(this).find('a.json-toggle:first').click();
            });
        });

        $(function () {
            
        });

        $(function () {
            $('#calculoLogNav').addClass('active');
            $('#calculoAutomatico').addClass('show');
            $('#nav-logCalculation').addClass('active');


            $('.input-daterange').datepicker({ language: 'es', format: 'dd/mm/yyyy', });
            CreateAllTooltips();
            $.ajaxSetup({
                global: false
            });
        });
    </script>
}
