@model Core.Application.Website.Models.Monitoreo.FormatoModel
<!-- Modal -->

<div class="modal-header">
    <h5 class="modal-title" id="modal-user-create-title">@ViewBag.TitleModal</h5>
</div>
<div class="modal-body" id="modal-user-create-body" style="overflow-y: auto;">
    <form asp-action="CreateOrUpdate" asp-controller="Format" data-ajax="true" data-ajax-method="POST" id="formconstantescrud">

        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Codfor)

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.Nomfor, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(model => model.Nomfor, new { @class = "form-control col-md-12 col-xs-12 required", placeholder = "Digite el nombre", @maxlength = 100 })
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.Circular, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(model => model.Circular, new { @class = "form-control col-md-12 col-xs-12 inputPositiveInput", placeholder = "Digite la circular", @maxlength = 3, @value = "1"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.TablaAlmacena, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.DropDownListFor(model => model.TablaAlmacena, (IEnumerable<SelectListItem>)ViewBag.TablesList, "Seleccione", htmlAttributes: new { @class = "form-control select2 required", @style = "width:100%;" })
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.FechaCircular, htmlAttributes: new { @class = "col-form-label col-md-12 col-xs-12" })
                    <div class="col-md-12 col-xs-12 input-group dp-date">
                        @{
                            string fechaCircular = (Model != null ? (Model.FechaCircular.HasValue ? Model.FechaCircular.Value.ToString("dd/MM/yyyy") : "") : "");
                        }
                        <input type="hidden" value="@fechaCircular" id="hdf_CutoffDate" />
                        @Html.TextBoxFor(model => model.FechaCircular, new { @class = "form-control col-md-12 col-xs-12" , @readonly = "readonly"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.EntidadAplica, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.DropDownListFor(model => model.EntidadAplica, (IEnumerable<SelectListItem>)ViewBag.EntityAppliesList, htmlAttributes: new { @class = "form-control select2 required", @style = "width:100%;" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "col-form-label col-md-12 col-sm-12 col-xs-12" })
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-check" style="margin-top: -20px;">
                        <label class="form-check-label" tabindex="-1">
                            @Html.CheckBoxFor(model => model.Estado, new { @class = "form-check-input", @tabindex = "-1" })
                            <span class="form-check-sign gel-tab-key" data-tippy-content="Pulse para Seleccionar.">
                                <span class="check" tabindex="-1"></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="d-none">
                <input type="submit" value="Guardar" class="btn btn-primary" id="btn-create-format" data-tippy-content="Pulse para Guardar." />
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" onclick="hideModalPartial();" data-tippy-content="Pulse para Cancelar.">Cancelar</button>
    <button type="button" class="btn btn-primary" onclick="Formatos.Save();" data-tippy-content="Pulse para Guardar.">Guardar</button>
</div>
<script>
    $('#TablaAlmacena').select2();
    $("#FechaCircular").val($("#hdf_CutoffDate").val());
    $('#FechaCircular').datepicker({ language: 'esp', clearBtn: true, format: "dd/mm/yyyy",  endDate: "today"});
    
</script>